body {
    font-family: Arial, sans-serif;
    color: $text-color;
    background-color: $background-color;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: $primary-color;
    margin-bottom: $margin-small;
  }
  
  p {
    @include font-size($font-size-medium);
  }
  